*.pid

innd/bbslink
innd/innbbsd

run/classname.img
run/classtitle.img

bin/*
!bin/install.sh

src/*
src/*/*
src/*/*/*
!src/Makefile
!src/*/Makefile
!src/*/*/Makefile
!src/*.c
!src/*/*.c
!src/*/*/*.c
!src/*.h
!src/*/*.h
!src/*/*/*.h